*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "none-1"
    "card"
    "none-2";
}
.card{
    grid-area: card;
    place-self: center;
    width:300px;
    height:475px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 60% 15% 25%;
    grid-template-columns: auto;
    grid-template-areas: 
    "card-img"
    "card-header"
    "card-text";
    place-items: center;
}
.card-img{
    grid-area: card-img;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-header{
    grid-area: card-header;
    color:hsl(218, 44%, 22%);
    line-height: 25px;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
}
.card-text{
    grid-area: card-text;
    font-weight: 400;
    text-align: center;
    color:hsl(212, 45%, 89%);
    font-size: 15px;
    display: flex;
    margin-top: -35px;
}

